php:
	date.timezone: Europe/Prague


extensions:
	events: Kdyby\Events\DI\EventsExtension
	nettrine.dbal: Davefu\KdybyContributteBridge\DI\DbalExtensionProxy
	nettrine.orm: Davefu\KdybyContributteBridge\DI\OrmExtensionProxy
	nettrine.orm.cache: Davefu\KdybyContributteBridge\DI\OrmCacheExtensionProxy
	nettrine.orm.xml: Davefu\KdybyContributteBridge\DI\OrmXmlExtensionProxy
	nettrine.orm.annotations: Davefu\KdybyContributteBridge\DI\OrmAnnotationsExtensionProxy
	console: Kdyby\Console\DI\ConsoleExtension
	orm.console: Davefu\KdybyContributteBridge\DI\OrmKdybyConsoleExtension


services:
	cacheStorage:
		class: Nette\Caching\Storages\MemoryStorage


console:
	url: http://example.com


nettrine.orm.cache:
	queryCache: Doctrine\Common\Cache\ArrayCache
	hydrationCache: Doctrine\Common\Cache\ArrayCache
	metadataCache: Doctrine\Common\Cache\ArrayCache
	resultCache: Doctrine\Common\Cache\ArrayCache

nettrine.dbal:
	connection:
		driver: pdo_sqlite
		memory: true
		types:
			money:
				class: Kdyby\DoctrineMoney\Types\Money
				commented: true
		typesMapping:
			money: integer

nettrine.orm.annotations:
	defaultCache: array

money:
	cache: array

http:
	frames: null

session:
	autoStart: false
